<div
  class="card m-2 shadow mb-5 bg-body rounded"
  style="width: 20rem; background-color: #ffffff !important"
>
  <div
    class="card-header text-center text-light"
    style="background-color: #028090"
  >
    <i class="fas fa-user-alt fa-2x pt-2"></i>
    <h3 class="p-2">Manager</h3>
  </div>
  <div class="card-body">
    <h4 class="card-title text-center pb-3 pt-2">{{name}}</h4>
    <ul class="list-group mx-3 mb-3">
      <li class="list-group-item fw-bold">
        Employee ID: <span class="fw-normal">{{id}}</span>
      </li>
      <li class="list-group-item fw-bold">
        Office Number: <span class="fw-normal">{{officeNumber}}</span>
      </li>
      <li class="list-group-item fw-bold">
        Email:
        <span class="fw-normal"><a href="mailto:{{email}}">{{email}}</a></span>
      </li>
    </ul>
  </div>
</div>
